---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Base from '../../layouts/Base.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base>
	{
		posts.map((post) => (
			<article>
				<a href={`/blog/${post.id}/`}>
					{post.data.heroImage && (
						<Image src={post.data.heroImage} width="600" height="300" transition:name={post.data.heroImage.src} alt="" />
					)}
					<h1 class="title">{post.data.title}</h1>
					<p class="date">
						<FormattedDate date={post.data.pubDate} />
					</p>
				</a>
			</article>
		))
	}
</Base>

<style>
	article {
		margin-bottom: 4rem;

		h1, p {
			margin-block: 0.5em;
		}
	}
</style>
